*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
* a{
    text-decoration: none;
}
* li{
    list-style: none;
}
.container{
    position: relative;
    min-height: 100vh;
}
.bg{
    width: 100%;
    height: 100%;
    position: relative;
}
h1{
    
    background-color: rgb(90, 99, 156);
    position: top;
    margin: 0 auto;
    height: 10vh;
    padding: 10px;
    text-align: center;
    color: #fff;
    
   
}
body{
    background-size: cover;
    background-position: bottom;
    background-image: url('https://i.pinimg.com/564x/e1/de/bc/e1debc8d31f7779f898db5fa80b2541b.jpg');
}
/*body{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background-image: url('https://i.pinimg.com/564x/df/03/71/df0371199b386ab77dd92c93ce944d8b.jpg');
    z-index: -1;
    background-size:cover;
    background-position:center;
    filter: brightness(95%);
}*/
.menu{
    background-color:rgb(155, 134, 189);
    position: relative;
    width: 100%;
    height: 5vh;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a{
    font-size: 1.5rem;
    color: rgb(219, 209, 209);
}
.menu ul{
    display: flex;
}
.menu ul li{
    padding: 0 17px;
}
.menu ul li a{
    font-weight:bold ;
    color: #fff;
    font-size: 14px;
}
.center-header {
    color: rgb(234, 224, 211);
    text-align: center;
    font-style: italic;
    position: center;
  }
  img{
    padding: 15px;
  }